html{
	font-family: Raleway;
	background-color: #DCDCDC;
	color: black;
}

header{
	color: #800080;
	font-size: 3em;
	text-align: center;
	border: 2px solid black;

}

body{
	margin: 2%;
}
h1{
	font-size: 3em;
	color: #008B8B; 
	margin-bottom: 0px;
	display: block;
}

h2{
	font-weight: bold;
}


#contact-header{
	text-align: center;
	margin-top: 10%;
}

p{
	display: inline-block;

}


ul{
	list-style: none;
	display: inline-block;

}

#photo{
	width: 100%;
	display: block;
	padding-top: 0px;
}

#menu li{
	font-size: 2em;
	display: inline;
	/*padding-left: 5%;
	padding-right: 5%;*/
	padding-bottom: 0px;
	margin-top: 10%;
	margin-left: 10%;

}

#bloglist{
	font-variant: small-caps;
	line-height: 150%;
	display: inline-block;
	color: black;
	font-weight: bolder;
}



#blogphoto{
	display: inline-block;
	margin-right: 0px;
}

#blogpost{
	margin-left: 5%;
	margin-right: 10%;
	color: #008B8B;
	font-size: 1em;
	border-left: 5px solid black;
	padding-left: 5%;
	font-family: Arial;
	line-height: 150%;
}
#contact-icons{
	display: block;
	text-align: center;
}

a:link{
	text-decoration: none;
	color: #B8860B;
	font-variant: normal;
	font-weight: normal;

}
a:hover{
	font-weight: bold;
}
a:visited{
	text-decoration: none;
	color: #B8860B;
}
a:active{
	text-decoration: none;
	color: #B8860B;
}

footer{
	font-size: 1.5em;
	text-align: center;
	position: fixed;
	padding-top: 100%;
}